body {
    background-color: rgba(77, 63, 205, 0.137);
}

.foto-perfil {
    display:block;
    margin:0 auto;
}

h1 {
    color: rgba(6, 1, 27, 0.39);
    text-align: center;
}

h2 {
    font-size: 18px;
}

.descricao {
    text-align: justify;
    font-size: 22px;
}

.lista {
    margin-top: 15px;
    margin-bottom: 15px;
}

.lista li {
    margin-bottom: 15px;
}

.foto-hobby {
    border-radius: 15px;
}

.tabela {
  width: 40%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.link:hover {
    background-color: rgb(2, 5, 48);
    color:rgb(222, 222, 224)
}